body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.heading {
    font-family: Arial, sans-serif;
    color: navy;
}