.group1{
    background-color: blue
}
*{
    font-family: 'Times New Roman';
}
h1{
  text-align: center;
  text-transform: uppercase;

}
#outer{
    font-size : 20px
}
#inner{
    font-size : 10px
}

div{
    width : 1000px
    margin : auto ;
}


